<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Meu editar</title>
    </head>

    <body>
        <h2>Editar Registro</h2>

        <%# 1. Verificamos se o 'crud' (o registro) foi encontrado %>
        <% if (crud) { %>

            <%# 2. Usamos 'crud' diretamente, sem loop (.forEach) %>
            <form action="/edit/<%= crud._id %>" method="POST">
                <input type="text" value="<%= crud.name %>" name="name">
                <input type="text" value="<%= crud.surname %>" name="surname">
                <br/>
                <br/>
                
                <%# 3. Corrigi o botão "Todos" para ser um link normal %>
                <a href="/show">Ver Todos</a>
                <button type="submit">Editar</button>
            </form>

        <% } else { %>
            <%# Caso o ID não exista no banco %>
            <p>Registro não encontrado.</p>
            <a href="/show">Voltar para a lista</a>
        <% } %>

    </body>
</html>
