<!--html:5-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--child (>)
    table>tr>td
    -->
    <table>
        <td>
            <tr></tr>
        </td>
    </table>
    <!-- multiplication * 
    ul>li*3 
    -->
    <ul>
        <li>design interface</li>
        <li>PI2</li>
        <li>Lógica de Programação</li>
    </ul>
    <!--siblings +
    h1+h2+p+btn
    -->
    <h1></h1>
    <h2></h2>
    <p></p>
    <button></button>
    
    <!--grouping ()
    (table>tr>td)*2
    -->
    <table>
        <tr>
            <td>Grouping</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Multiply</td>
        </tr>
    </table>

    <!--Climb Up (^)
    table>tr>td^^ul>li
    -->
    <table>
        <tr>
            <td>Professora</td>
        </tr>
    </table>
    <ul>
        <li>Alunos</li>
    </ul>
     
    <!-- (p>img)*5 -->
    <p><img src="" alt=""></p>
    <p><img src="" alt=""></p>
    <p><img src="" alt=""></p>
    <p><img src="" alt=""></p>
    <p><img src="" alt=""></p>
</body>
</html>